{
    "endOfLine": "auto",
    "singleAttributePerLine": false,
    "bracketSameLine": false,
    "jsxSingleQuote": false,
    "quoteProps": "as-needed",
    "semi": false,
    "singleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "printWidth": 125,
    "tabWidth": 1,
    "useTabs": true
}
